*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}


a{
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.link{
  text-decoration: none;
  color:rgb(94, 94, 94);
}