.myGigs{
    width: 100%;

    .container{
        max-width: 1140px;
        margin: auto;
        padding: 40px 0;

        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;

            button{
                color: white;
                background-color: #1dbf73;
                font-weight: 500;
                border: none;
                padding: 10px;
            }
        }

        table{

            padding: 10px;
            width: 100%;
            
            tr{
       
                height: 10px;
  
                
                td{
                    text-align: center;
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;

                    }

                    i{
                        color: red;
                        cursor: pointer;
                    }
                }
            }

        }

    }
}